body {
			font-size: 18px;
			background-color: #ffe;
			color: #210;
		}

		#contenedor {
			max-width: 40ch;
			margin: 2rem auto;
			padding: 1rem;
		}

		h1 {
			font-size: 2rem;
			text-align: center;
		}

		p {
			font-family: serif;
            background-color: rgba(190, 120, 240, 0.6);
		}

		#primer-parrafo {
			font-size: 1.3rem;
			background-color: rgb(74, 253, 253);
		}

		p.importante em {
			font-weight: bold;
			color: #933;
		}

		p.novelas a {
			outline: 1px solid #333;
			text-decoration: none;
		}
		p.novelas a:hover {
		
			background-color: #ccd;
		}

		body p.fuente.parrafo {
			color: #000000 !important;
			font-size: 0.9rem;
			opacity: 100%;
			text-align: center;
		}
        a{
             outline: 1px solid #333
        }
